<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script type="text/javascript" src="/jquery/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/styles/index.css">
    <script src="/static/js/index.js"></script>
    <script src="{{ url_for('static', filename='js/index.js') }}"></script>
</head>
<body>
    <div class="newheader">
        <header></header>
    </div>
    
    <div class="app-text">
        <input type="text" name="text-boxt" placeholder="search for campuses you are in" class="text-field">
        <button type="button" onclick="filterTable()">Search</button>
    </div>
    <div class="table-form">
        <table border="1">
            <thead>
                <th>#</th>
                <th>KEY</th>
                <th>Institution Name</th>
                <th>Category</th>
            </thead>

            <tbody>
                {% for item in institutions %}
                    <tr>
                        <td>{{ item.id }}</td>
                        <td>{{ item.code }}</td>
                        <td>{{ item.name }}</td>
                        <td>{{ item.type }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div><br>
</div>
</body>
</html>